.mainWin {
  margin-top: 2%;
}

#generalInfo {
  resize: none;
  min-height: 100px;
}

#userName {
  color: white;
  text-shadow: 2px 2px 5px black;
}

.userInfo {
  color: black;
  text-shadow: 2px 2px 5px white;
}

.profilePic {
  max-width: 250px;
  max-height: 250px;
}