#map {
  min-height: calc(100vh - 140px);
  overflow: none;
  position: relative;
}

#selectionTab {
  position: absolute;
  z-index: 99;
  color: black;
  background-color: white;
}

#main {
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 575px) {
  #map {
    min-height: calc(100vh - 318px);
  }
}