body {
  /* background-color: rgb(201, 132, 116); Brown*/ 
  /* background-color: rgb(167, 210, 203); Blue*/
  background-color: rgba(248, 229, 179, 0.897);
}

.colorHeader {
  background-color: rgb(201, 132, 116);
}

.colorBody {
  background-color: rgb(255, 255, 255);
}

.colorFooter {
  background-color: rgba(201, 132, 116, 0.589);
}

.colorHeaderComment {
  background-color: rgb(167, 210, 203)
}

.colorBodyComment {
  background-color: rgb(241, 255, 196);
}

#map {
  min-height: calc(100vh - 200px);
  overflow: none;
}

#delete {
  color: red;
}

#edit {
  color: green;
}

.pointer {
  cursor: pointer;
}

.hide{
  display: none;
}
.show{
  display: block;
}