body {
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.forumFooter {
  padding: 0 5px 0 5px;
}

.noMargin {
  margin: 0;
}

.noPadding {
  padding: 0 15px;
}

.commentPadding {
  padding: 10px 15px;
}

.noBorder {
  border: none;
}

#delete {
  color: red;
}

#edit {
  color: green;
}

.pointer {
  cursor: pointer;
}

.hide{
  display: none;
}

.show{
  display: block;
}

.commentButton {
  cursor: pointer;
  padding: 0;
  border: none;
}

.commentLink {
  margin: 0;
}

.trans {
  opacity: 0.8;
}