#header {
  background-color: rgb(201, 132, 116);
  min-height: 100px;
}

#logo, .menu {
  padding-top: 40px;
}

#markers {
  padding-top: 20px;
}

#online, #poi {
  clear: both;
  display: inline-block;
}

#logo {
  color: white;
}

.markerImages {
  width: 50px;
  height: 50px;
}
