.send {
  max-height: 100px;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0 auto;
}

.displayArea {
  height: calc(100vh - 230px);
  overflow: auto;
}

.remove-padding {
  padding: 0;
}

.sendArea {
  width: 100%;
}

#m {
  min-height: 38px;
  width: 80%;
  float: left;
}

#sendButton {
  width: 20%;
  float: left;
}

#send-message {
  resize: none;
}

ul {
  padding: 0 10px 0 10px;
}

li {
  list-style-type: none;
  margin: 10px 0 15px 0;
  width: 100%;
}

li > span {
  display: inline-block;
  border-radius: 10px;
  padding: 5px;
}

.other {
  text-align: right;
}

.current {
  text-align: left;
}

.sent {
  background-color: lightgray;
}

.received {
  background-color: lightblue;
}