.outline {
  outline: 2px solid black;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.remove-padding {
  padding: 0;
}

#profilePic {
  min-height: 100%;
  min-width: 100%;
  outline: 2px solid black;
}

/* Add a focus style to show which chat is selected */