.outline {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}

.side-padding {
  padding: 0 10px 0 10px;
}

.textColor {
  color: black;
}

.bold {
  font-weight: bolder;
}

.deleteIcon {
  float: right;
}

.deleteChat {
  color: red;
}

.chatBoxName, .deleteIcon {
  display: inline;
}

.chatBoxMsg {
  text-align: left;
}

.chatBoxTime {
  float: right;
}