.outline {
  border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

.side-padding {
  padding: 0 10px 0 10px;
}

#profilePic {
  min-height: 100%;
  min-width: 100%;
  outline: 2px solid black;
}

.textColor {
  color: black;
}

.bold {
  font-weight: bolder;
}

.deleteChat{
  color: red;
}